
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

$main_bgcolor: #0a192f;
$side_bgcolor: #2a3d52;
$side_bordercolor: #164c58;
$project_backgroundcolor: #123c46;
$skill_bordercolor: #0b181b;
$skill_backgroundcolor: #0b363f;
$lightNavyColor: #112240; 
$light-slate: #a8b2d1;

$text_color: #64ffda;
$text_hovercolor: #F9C784;

body {
    background-color: $main_bgcolor;
    color: white;
    color-scheme: light dark;
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}
@media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
    a:hover {
      color: #747bff;
    }
    button {
      background-color: #f9f9f9;
    }
  }
  

.wrapper {
    min-height: 100vh;

    display: grid;
    grid-template-columns: 0.55fr 1fr 0.55fr;
    grid-template-rows: 0.15fr auto 0.2fr;
}
main {
    grid-column: 2/3;
    grid-row: 2/3;
    

    display: flex;
    flex-flow: column nowrap;
    //Might want to change later in case of gallery in projects
    justify-content: center;

    // min-height: 100vh;

    
    padding-bottom: 40px;
}
// Home page 
.home_wrapper {
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

#home_hello {
    color: white;
    font-style: normal;
    text-decoration-line: none;
    font-size: 40px;
}

#home_name {
    font-size: 60px;
}

#home_jobtitle {
    padding-top: 15px;
    padding-bottom: 20px;
    font-size: 30px;
    color: $text_color;
}

#home_desc {
    font-size: 20px;
    line-height: 200%;
}

#home_img {
    width: 320px;

    
}

#home_buttons_wrapper {
    padding-top: 40px;
    display: flex;
    flex-flow: row nowrap;
    justify-content:center;
    gap: 100px;
}

#home_buttons {
    font-size: 19px;
    font-weight: bold;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: $text_color;
    color: white;
    padding: 15px;
    margin: 10px;
    width: 170px;
    height: 70px;
    border-radius: 20px;
}

#home_buttons>img {
    width: 35px;
    margin-left: 5px;
}

#home_buttons>p {
    margin-right: 5px;
}

#home_buttons:hover {
    cursor: pointer;
    background-color: $text_hovercolor;
}

.skills_header {
    font-size: 25px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 30px;
    order: 0;
}

#skills_title {
    color: $text_color;
}

#skills_desc {
    color: white;
    padding-top: 10px;
}

.skills_wrapper {
    display: flex;
    flex-flow: row wrap;
    gap: 15px;
    justify-content: center;
    
}

.skills_wrapper>article {
    
    padding: 10px;
    border-radius: 25px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    background-color: #08172e;
    
}

#skills_text {
    text-align: center;
    font-size: 15px;
    word-wrap: break-word;
}

#skills_img {
    
    width: 80px;
    height: 90px;
    padding-bottom: 10px;
}


// About Page
.about_header {
    display: flex;
    justify-content: center;
}

#about_title {
    margin-bottom: 20px;
    font-size: 45px;
    border-bottom: solid 5px;
    padding-bottom: 10px;
    color: $text_color;
}

.about_wrapper {
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    gap: 35px;
}

#about_img {
    width: 450px;
}

#about_text {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
    text-align: left;
}

.about_buttons {
    display: flex;
    justify-content: center;
}

#about_buttons_wrapper {
    display: flex;
    flex-flow: row nowrap;
}

#about_button {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    margin: 10px 40px 10px 40px;
    width: 220px;
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;

    background-color: $text_color;
    color: white;
}

#about_button:hover {
    background-color: $text_hovercolor;
}

#about_button>img {
    width: 50px;
}
// Footer
footer {
    grid-column: 1/4;
    grid-row: 3/4;

    background-color: $side_bgcolor;
    border-top: 5px solid $side_bordercolor;
}

footer>p {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding-bottom: 40px;
}
.footlinks a {
    display: flex;
    white-space: nowrap;
    text-decoration: none;
    color: white;
}

.footlinks a img {
    float: left;
    padding-right: 10px;

}

.footwrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 4%;
    padding-top: 40px;
}

.footlinks {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-bottom: 30px;
}

//Projects
.flex{
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    flex-flow: row wrap;
    //border: #040d19 solid 5px;
    align-content: start;
    height: 500px;
    
    justify-content: center;
    overflow: auto;
    
}

.card{
    position: relative;
    margin: 1rem;
    width: 200px;
    //border: #040d19 solid 5px;
    align-content: start;
    
    
    
 /*    box-shadow:inset 5px 5px 5px rgba(0, 0,0,0.05 ),
               inset -5px -5px 5px rgba(255, 255,255,0.5 ),
                5px 5px 5px rgba(0, 0,0,0.05 ),
                -5px -5px 5px rgba(255, 255,255,0.5 ); */
    border-radius: 15px;
    
    //border: #F9C784 solid 5px;

}
.box{
    position: relative;
    top: 20px;
    bottom: 20px;
    
    box-shadow: 0 10px 20px rgba(0, 0,0,0.2 );
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    background: #08172e;
   
}
.card:hover .box{
    transform: translateY(-20px);
    box-shadow: 0 10px 40px rgba(0, 0,0,1 );
    //background: linear-gradient(45deg, #0b181b, #213547)
    background: linear-gradient(45deg, #08172e, #112240);
    //background: #112240;
    
}
.content{
   
    padding: 20px;
    text-align: center;
    display: flex;
    flex-flow: wrap row;
    
}
.content h2{
    position: absolute;
    top: -10px;
    right: 30px;
    font-size: 5rem;
    color: transparent;
    transition: 0.5s;   
}
.content img{
    width: 50px;
}
.card:hover h2{
    color: rgba(255, 255, 255, 0.2);
    //color: $text_color

}
.card:hover h3{
    //color: rgba(255, 255, 255, 0.2);
    color: $text_color

}
.content p{
    font-size: 10px;   
}
.image-Colum{
    width: 50px;

}

#projects_skills>img {
    width: 25px;
    padding: 3px;
    margin: 10px 0px 10px 7px;
}




.grid-container{
    display: grid;
    position: relative;
    grid-template-columns: repeat(3, 1fr );
    gap: 50px;
    text-align: center;
    
}
.grid-container > h2{
    grid-column-start: 2;
    color: $text_color;

}

.grid-item-1{
    background-color: #0a192f;
    //border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: right;
    grid-column-start: 1;
    grid-column-end: 4;
    
    display: grid;
    grid-template-columns: repeat(12, 1fr );
    grid-template-rows: repeat(2, 150px );
    gap: 20px;
     
}

.grid-item-1-content{
    display: flex;
    flex-flow: column;
    grid-column-start: 7;
    grid-column-end: 13;
    grid-row-start: 1;
    box-shadow: 0 20px 30px -15px  rgba(2,12,27,07);
    //border: black solid 5px;
}
.grid-item-1-text {
    font-size: 14px;
    position: relative;
    //border: black solid 5px;
    background-color: $lightNavyColor;
    color: $light-slate;
    padding: 30px;

    /* grid-column-start: 6;
    grid-column-end: 13;
     */
    z-index: 3;
 
}
.grid-item-1-content > p ,.grid-item-2-content >p{
    font-size: 14px;
    color: $text_color;
}

.grid-item-1-img { 
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: -1;
    position: relative;
    background-color : #64ffda;
    mix-blend-mode: screen;
    box-shadow: 0 20px 30px -15px  rgba(2,12,27,07);
    //z-index: 1;
}

.grid-item-imagestyle{
    position: relative;
   width: 100%;
   height: 100%;
    //border: 5px solid rgba(0, 0, 0, 0.72);
    
    mix-blend-mode: multiply;
    
    filter: grayscale(100%) contrast(1) brightness(90%);
    //z-index: 1;
}

.grid-item-imagestyle:hover{
    outline: 0px;
    mix-blend-mode: normal;
    filter: grayscale(0) contrast(1) brightness(90%);
    background: rgba(0, 0, 0, 0);  
}
.grid-item-1-img::before{
    content: "";
    position: absolute;
    inset: 0px;
    //transition: var(--transition);
    background-color: #0a192f47;
    mix-blend-mode: screen;
    
    }
 .grid-item-1-img:hover {
    outline: 0px;        
    background-color: rgba(0, 0, 0, 0);
    mix-blend-mode: normal;
    filter: grayscale(0) contrast(1) brightness(100%);
    } 
.project-icon-size{
    width: 1.2em;
    padding: 3px;
    margin: 5px 0px 0px 7px;
}
.grid-item-1-content > div> a >img:hover{
    background-color: #040d19;
    border-radius: 25px;

}
.grid-item-1-content > div> div>a >img:hover{
    background-color: #040d19;
    border-radius: 25px;

}
.grid-item-2-content > div> div>a >img:hover{
    background-color: #040d19;
    border-radius: 25px;

}

.grid-item-2-content{
    display: flex;
    flex-flow: column;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    text-align: left;
    box-shadow: 0 20px 30px -15px  rgba(2,12,27,07);
    
    //border: black solid 5px;
}
.grid-item-2-img{
    grid-column-start: 6;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: -1;
    box-shadow: 0 20px 30px -15px  rgba(2,12,27,07);
    position: relative;
    background-color : #64ffda;
    mix-blend-mode: screen;
    }
.grid-item-2-img::before{
    content: "";
    position: absolute;
    inset: 0px;
    //transition: var(--transition);
    background-color: #0a192f47;
    mix-blend-mode: screen;
    
    }
    .grid-item-2-img:hover {
    outline: 0px;        
    background-color: rgba(0, 0, 0, 0);
    mix-blend-mode: normal;
    filter: grayscale(0) contrast(1) brightness(100%);
    } 




@media (max-width: 550px) {
    
    .grid-item-2-img{
       
        grid-column-start: 1;
        grid-column-end: 13;
        grid-row-start: 1;
    }
    .grid-item-2-content{
        grid-column-start: 1;
        grid-column-end: 13;
        grid-row-start: 3;
        
    }

   
    //Home
    .home_wrapper {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        text-align: center;
    }

    .home_wrapper>article {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }

    #home_hello {
        font-size: 25px;
    }

    #home_name {
        font-size: 40px;
    }

    #home_jobtitle {
        font-size: 20px;
    }

    #home_desc {
        font-size: 15px;
    }

    #home_img {
        padding-top: 35px;
        width: 250px;
    }

    #home_buttons_wrapper {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        gap: 10px;
    }

     //About
     .about_wrapper {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        text-align: center;
    }

    .about_wrapper>article {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }

    #about_img {
        width: 250px;
    }

    #about_text {
        font-size: 15px;
    }

    .about_buttons {
        justify-content: center;
    }

    #about_buttons_wrapper {
        display: flex;
        justify-content: center;
        flex-flow: column nowrap;
    }

   

    //Skills
    #skills_title {
        font-size: 30px;
    }

    #skills_desc {
        font-size: 20px;
    }

    .skills_wrapper>article {
        padding: 15px;
        width: 70px;
        height: 120px;
    }

    #skills_img {
        width: 70px;
        height: 70px;
    }

    #skills_text {
        font-size: 14px;
    }

    //Footer
    footer>p {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        text-align: center;
        padding: 20px;
    }

    .footwrapper {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
 //Projects
    .grid-item-1{
        font-size: 10px;
        text-align: center;
    }
    .grid-item-1-img{
        
        grid-column-start: 1;
        grid-column-end: 13;
        grid-row-start: 1;
    }
    .grid-item-1-content{
        grid-column-start: 1;
        grid-column-end: 13;
        grid-row-start: 3;

    }
    .grid-item-1-text{
        padding: 5px;
    }
    .project-icon-size{
        width: 3em;
    }
    .grid-item-1-img{
        background-color: transparent;
        mix-blend-mode: normal;
    }
    .grid-item-2-img{
        background-color: transparent;
        mix-blend-mode: normal;
    }
    .grid-item-imagestyle{
        position: relative;
       width: 100%;
       height: 100%;
        //border: 5px solid rgba(0, 0, 0, 0.72);
        
        mix-blend-mode: normal;
        
        filter: grayscale(0%) contrast(1) brightness(90%);
        //z-index: 1;
    }
    
    .grid-item-imagestyle:hover{
        outline: 0px;
        mix-blend-mode: normal;
        filter: grayscale(0) contrast(1) brightness(90%);
        background: rgba(0, 0, 0, 0);  
    }
    .grid-item-1-img::before{
        content: "";
        //position: absolute;
        inset: 0px;
       
        
        mix-blend-mode: normal;
        
        }
        .card{
            width: 100px;
        }
        .flex{
            height: auto;
        }
    

}
// Tablet breakpoint
@media (max-width: 1050px) {

    .wrapper {
        grid-template-columns: 1fr;
    }

    //Home
    #home_hello {
        font-size: 30px;
    }

    #home_name {
        font-size: 50px;
    }

    #home_jobtitle {
        font-size: 25px;
    }

    #home_desc {
        font-size: 15px;
    }

    #home_img {
        width: 300px;
    }

    #home_buttons_wrapper {
        gap: 50px;
    }

    //Projects
    #projects_img {
        width: 400px;
    }

    #projects_buttons {
        font-size: 14px;
        width: 130px
    }

    #projects_buttons>img {
        width: 25px;
    }

    //About
    #about_img {
        width: 375px;
    }

    #about_text {
        font-size: 15px;
        text-align: center;
    }

}